openapi: 3.2.0
info:
  title: Bee Maps Data Devices API
  description: REST APIs for street-level imagery, AI event videos, road feature detections, and on-demand mapping from the world's largest decentralized dashcam network.
  version: 1.0.0
  contact:
    name: Bee Maps
    url: https://beemaps.com/contact
  license:
    name: Proprietary
servers:
- url: https://beemaps.com/api/developer
  description: Production
security:
- ApiKeyQuery: []
tags:
- name: Devices
  description: Camera calibration data
paths:
  /devices:
    get:
      tags:
      - Devices
      summary: List camera calibration parameters
      description: Returns camera calibration parameters keyed by device type (hdc, hdc-s, bee). No authentication required.
      security: []
      responses:
        '200':
          description: Device calibration data keyed by device type
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  description: Calibration parameters for a device type
      operationId: getDevices
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'API key passed as Basic auth header: `Authorization: Basic <API_KEY>`'
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as query parameter (used for burst endpoints)
externalDocs:
  description: Full documentation
  url: https://docs.beemaps.com
