openapi: 3.2.0
info:
  title: Bee Maps (Hivemapper) Developer Account AI Events API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://docs.beemaps.com/api-reference
  description: The Bee Maps (Hivemapper) Developer API delivers fresh street-level imagery, ML-detected map features, AI event videos, and on-demand mapping (Bursts) from the world's largest decentralized dashcam network. Data is queried by point, polygon, or linestring and billed on a two-tier model (API credits per query plus per-view USD metering for signed imagery URLs). Requests are limited to a maximum query area of 5 sq km and use GeoJSON [longitude, latitude] coordinate order. This specification was generated faithfully from the public Bee Maps API reference; it is not a provider-published OpenAPI document.
  contact:
    name: Bee Maps
    email: hi@hivemapper.com
    url: https://docs.beemaps.com
  license:
    name: Bee Maps API Terms
    url: https://hivemapper.com/tos
servers:
- url: https://beemaps.com/api/developer
  description: Bee Maps Developer API (current)
- url: https://hivemapper.com/api/developer
  description: Legacy Hivemapper Developer API host
security:
- basicAuth: []
- apiKeyQuery: []
tags:
- name: AI Events
  description: AI-detected driving event videos with synchronized sensor data.
paths:
  /aievents/search:
    post:
      operationId: searchAIEvents
      summary: Search AI-detected driving events
      description: Search AI-detected driving events (harsh braking, aggressive acceleration, swerving, high speed, high g-force, stop sign violation, traffic light violation, tailgating) within a polygon and date window of up to 31 days.
      tags:
      - AI Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIEventSearch'
      responses:
        '200':
          description: Paginated array of AI events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIEventSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /aievents/{id}:
    get:
      operationId: getAIEvent
      summary: Retrieve a single AI event
      description: Retrieve a specific AI event with full details and optional synchronized GNSS and IMU sensor data.
      tags:
      - AI Events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Event identifier.
      - name: includeGnssData
        in: query
        required: false
        schema:
          type: boolean
        description: Include GPS array (lat, lon, alt, timestamp).
      - name: includeImuData
        in: query
        required: false
        schema:
          type: boolean
        description: Include IMU readings (accelerometer/gyroscope).
      responses:
        '200':
          description: A single AI event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        statusCode:
          type: integer
    AIEvent:
      type: object
      description: An AI-detected driving event.
      properties:
        id:
          type: string
        type:
          type: string
        timestamp:
          type: string
          format: date-time
        location:
          $ref: '#/components/schemas/Position'
        metadata:
          type: object
          additionalProperties: true
        videoUrl:
          type: string
          format: uri
        gnssData:
          type: array
          items:
            type: object
            additionalProperties: true
        imuData:
          type: array
          items:
            type: object
            additionalProperties: true
    Position:
      type: object
      properties:
        lon:
          type: number
        lat:
          type: number
        alt:
          type: number
        azimuth:
          type: number
    AIEventSearchResult:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        events:
          type: array
          items:
            $ref: '#/components/schemas/AIEvent'
    AIEventSearch:
      type: object
      properties:
        startDate:
          type: string
          description: ISO 8601 start date.
        endDate:
          type: string
          description: ISO 8601 end date
          within 31 days of start.: null
        types:
          type: array
          items:
            type: string
            enum:
            - HARSH_BRAKING
            - AGGRESSIVE_ACCELERATION
            - SWERVING
            - HIGH_SPEED
            - HIGH_G_FORCE
            - STOP_SIGN_VIOLATION
            - TRAFFIC_LIGHT_VIOLATION
            - TAILGATING
        polygon:
          type: array
          items:
            type: array
            items:
              type: number
          description: Array of [lon, lat] coordinates, minimum 4 points.
        limit:
          type: integer
          maximum: 500
        offset:
          type: integer
      required:
      - startDate
      - endDate
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Send Authorization: Basic <base64(username:api-key)>.'
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the apiKey query parameter.
