openapi: 3.1.0
info:
  title: Bee Maps (Hivemapper) Developer Account API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://docs.beemaps.com/api-reference
  description: The Bee Maps (Hivemapper) Developer API delivers fresh street-level imagery, ML-detected map features, AI event videos, and on-demand mapping (Bursts) from the world's largest decentralized dashcam network. Data is queried by point, polygon, or linestring and billed on a two-tier model (API credits per query plus per-view USD metering for signed imagery URLs). Requests are limited to a maximum query area of 5 sq km and use GeoJSON [longitude, latitude] coordinate order. This specification was generated faithfully from the public Bee Maps API reference; it is not a provider-published OpenAPI document.
  contact:
    name: Bee Maps
    email: hi@hivemapper.com
    url: https://docs.beemaps.com
  license:
    name: Bee Maps API Terms
    url: https://hivemapper.com/tos
servers:
- url: https://beemaps.com/api/developer
  description: Bee Maps Developer API (current)
- url: https://hivemapper.com/api/developer
  description: Legacy Hivemapper Developer API host
security:
- basicAuth: []
- apiKeyQuery: []
tags:
- name: Account
  description: Devices, calibration, and query history.
paths:
  /devices:
    get:
      operationId: getDevices
      summary: Get camera calibration parameters
      description: 'Get camera intrinsic parameters (focal length, distortion coefficients) for supported device types: hdc (Hivemapper Dashcam), hdcs (Dashcam S), and bee. This endpoint does not require authentication.'
      tags:
      - Account
      security: []
      responses:
        '200':
          description: Camera calibration parameters by device type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '500':
          $ref: '#/components/responses/ServerError'
  /history:
    get:
      operationId: getHistory
      summary: Retrieve API query history
      description: Retrieve API query history with credit consumption details (queried area, payload geometry, timestamp, weeks queried, and credits consumed).
      tags:
      - Account
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        description: Maximum results to return.
      - name: skip
        in: query
        schema:
          type: integer
          default: 0
        description: Pagination offset.
      responses:
        '200':
          description: Array of history entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoryEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    HistoryEntry:
      type: object
      properties:
        area:
          type: number
          description: Queried area in square km.
        payload:
          type: object
          additionalProperties: true
          description: Query geometry.
        timestamp:
          type: string
          format: date-time
        weeks:
          type: array
          items:
            type: string
        credits:
          type: number
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        statusCode:
          type: integer
  responses:
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Send Authorization: Basic <base64(username:api-key)>.'
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the apiKey query parameter.
