openapi: 3.1.0
info:
  title: Bee Maps (Hivemapper) Developer API
  version: '1.0'
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://docs.beemaps.com/api-reference
  description: >-
    The Bee Maps (Hivemapper) Developer API delivers fresh street-level imagery,
    ML-detected map features, AI event videos, and on-demand mapping (Bursts)
    from the world's largest decentralized dashcam network. Data is queried by
    point, polygon, or linestring and billed on a two-tier model (API credits
    per query plus per-view USD metering for signed imagery URLs). Requests are
    limited to a maximum query area of 5 sq km and use GeoJSON [longitude,
    latitude] coordinate order. This specification was generated faithfully from
    the public Bee Maps API reference; it is not a provider-published OpenAPI
    document.
  contact:
    name: Bee Maps
    email: hi@hivemapper.com
    url: https://docs.beemaps.com
  license:
    name: Bee Maps API Terms
    url: https://hivemapper.com/tos
servers:
  - url: https://beemaps.com/api/developer
    description: Bee Maps Developer API (current)
  - url: https://hivemapper.com/api/developer
    description: Legacy Hivemapper Developer API host
security:
  - basicAuth: []
  - apiKeyQuery: []
tags:
  - name: Imagery
    description: Street-level dashcam imagery queries.
  - name: Map Features
    description: ML-detected road objects and features.
  - name: AI Events
    description: AI-detected driving event videos with synchronized sensor data.
  - name: Bursts
    description: On-demand incentivized mapping requests.
  - name: Account
    description: Devices, calibration, and query history.
paths:
  /imagery/poly:
    post:
      operationId: queryImageryByPolygon
      summary: Query street-level imagery by polygon and week
      description: >-
        Query geolocated dashcam frames captured within a polygon for a specific
        week. Returns signed image URLs, timestamps, GPS position, IMU data,
        device type, and image dimensions.
      tags: [Imagery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageryQuery'
      responses:
        '200':
          description: Array of imagery frames.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Frame'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/ServerError' }
  /latest/poly:
    post:
      operationId: queryLatestImagery
      summary: Query the most recent imagery by polygon
      description: >-
        Query the most recent street-level imagery within a polygon, optionally
        bounded by a minimum week cutoff.
      tags: [Imagery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LatestImageryQuery'
      responses:
        '200':
          description: Array of imagery frames.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Frame'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /map-data:
    post:
      operationId: queryMapData
      summary: Query map features and/or imagery within an area
      description: >-
        Unified endpoint to query map features and/or street-level imagery within
        a geographic area (Point with radius, LineString with buffer, or Polygon).
        Returns credit accounting alongside results.
      tags: [Map Features]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapDataQuery'
      responses:
        '200':
          description: Map data results with credit accounting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapDataResult'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /mapFeatures/poly:
    post:
      operationId: queryMapFeaturesByPolygon
      summary: Query detected road features within a polygon
      description: >-
        Query ML-detected road features (speed limit signs, stop signs, yield
        signs, turn restrictions, traffic lights, fire hydrants, lane lines,
        parking restrictions, highway signs) within a polygon boundary.
      tags: [Map Features]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolygonQuery'
      responses:
        '200':
          description: Array of detected map features.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MapFeature'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /aievents/search:
    post:
      operationId: searchAIEvents
      summary: Search AI-detected driving events
      description: >-
        Search AI-detected driving events (harsh braking, aggressive
        acceleration, swerving, high speed, high g-force, stop sign violation,
        traffic light violation, tailgating) within a polygon and date window of
        up to 31 days.
      tags: [AI Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIEventSearch'
      responses:
        '200':
          description: Paginated array of AI events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIEventSearchResult'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /aievents/{id}:
    get:
      operationId: getAIEvent
      summary: Retrieve a single AI event
      description: >-
        Retrieve a specific AI event with full details and optional synchronized
        GNSS and IMU sensor data.
      tags: [AI Events]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: Event identifier.
        - name: includeGnssData
          in: query
          required: false
          schema: { type: boolean }
          description: Include GPS array (lat, lon, alt, timestamp).
        - name: includeImuData
          in: query
          required: false
          schema: { type: boolean }
          description: Include IMU readings (accelerometer/gyroscope).
      responses:
        '200':
          description: A single AI event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIEvent'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /burst/create:
    post:
      operationId: createBurst
      summary: Create an on-demand mapping burst
      description: >-
        Create incentivized mapping requests (Bursts) for specific locations.
        Network devices are dispatched to capture fresh imagery; you pay only on
        successful capture.
      tags: [Bursts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BurstCreate'
      responses:
        '200':
          description: Created burst objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BurstCreateResult'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /bursts:
    get:
      operationId: listBursts
      summary: List created bursts
      description: List and monitor created bursts with coverage status.
      tags: [Bursts]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
          description: Maximum results to return.
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
          description: Pagination offset.
      responses:
        '200':
          description: Array of bursts plus pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BurstListResult'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /devices:
    get:
      operationId: getDevices
      summary: Get camera calibration parameters
      description: >-
        Get camera intrinsic parameters (focal length, distortion coefficients)
        for supported device types: hdc (Hivemapper Dashcam), hdcs (Dashcam S),
        and bee. This endpoint does not require authentication.
      tags: [Account]
      security: []
      responses:
        '200':
          description: Camera calibration parameters by device type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '500': { $ref: '#/components/responses/ServerError' }
  /history:
    get:
      operationId: getHistory
      summary: Retrieve API query history
      description: >-
        Retrieve API query history with credit consumption details (queried area,
        payload geometry, timestamp, weeks queried, and credits consumed).
      tags: [Account]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
          description: Maximum results to return.
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
          description: Pagination offset.
      responses:
        '200':
          description: Array of history entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoryEntry'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Send Authorization: Basic <base64(username:api-key)>.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key passed as the apiKey query parameter.
  responses:
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Forbidden / access denied.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServerError:
      description: Server error.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string, description: Human-readable error message. }
        statusCode: { type: integer }
    GeoJSONGeometry:
      type: object
      description: A GeoJSON geometry (Point, LineString, or Polygon) with [lon, lat] order.
      properties:
        type:
          type: string
          enum: [Point, LineString, Polygon]
        coordinates: {}
        radius:
          type: number
          description: Radius in meters (for Point queries).
        buffer:
          type: number
          description: Buffer in meters (for LineString queries).
      required: [type, coordinates]
    ImageryQuery:
      type: object
      properties:
        geometry: { $ref: '#/components/schemas/GeoJSONGeometry' }
        week:
          type: string
          description: Target week in YYYY-mm-dd format.
        headings:
          type: boolean
          description: Include heading data.
        catalog:
          type: boolean
          description: Return metadata only, without image URLs.
      required: [geometry]
    LatestImageryQuery:
      type: object
      properties:
        geometry: { $ref: '#/components/schemas/GeoJSONGeometry' }
        min_week:
          type: string
          description: Cutoff date (YYYY-mm-dd) for the most recent imagery.
        headings: { type: boolean }
        catalog: { type: boolean }
        crossjoin:
          type: boolean
          description: Return the full polygon per time period.
      required: [geometry]
    PolygonQuery:
      type: object
      properties:
        geometry: { $ref: '#/components/schemas/GeoJSONGeometry' }
      required: [geometry]
    MapDataQuery:
      type: object
      properties:
        type:
          type: array
          items:
            type: string
            enum: [mapFeatures, imagery]
          description: Which result families to return.
        geometry: { $ref: '#/components/schemas/GeoJSONGeometry' }
        startDate:
          type: string
          description: YYYY-MM-DD; defaults to one week ago.
      required: [type, geometry]
    MapDataResult:
      type: object
      properties:
        totalCreditsUsed: { type: number }
        totalCreditsRemaining: { type: number }
        mapFeatureResults:
          type: array
          items: { $ref: '#/components/schemas/MapFeature' }
        imageryResults:
          type: array
          items: { $ref: '#/components/schemas/Frame' }
    Frame:
      type: object
      description: A street-level dashcam frame.
      properties:
        url: { type: string, format: uri, description: Signed image URL. }
        timestamp: { type: string, format: date-time }
        position:
          $ref: '#/components/schemas/Position'
        idImu: { type: object, additionalProperties: true, description: IMU data. }
        deviceType: { type: string, enum: [hdc, hdcs, bee] }
        width: { type: integer }
        height: { type: integer }
    Position:
      type: object
      properties:
        lon: { type: number }
        lat: { type: number }
        alt: { type: number }
        azimuth: { type: number }
    MapFeature:
      type: object
      description: An ML-detected road feature.
      properties:
        id: { type: string }
        status: { type: string }
        class:
          type: string
          description: Feature class (e.g. speed-limit-sign, stop-sign, fire-hydrant).
        properties:
          type: object
          additionalProperties: true
          description: Feature-specific properties (speedLimit, unit, regulatory, ...).
        position: { $ref: '#/components/schemas/Position' }
        confidence: { type: number, description: Detection confidence score. }
        observedAt:
          type: array
          items: { type: string, format: date-time }
    AIEventSearch:
      type: object
      properties:
        startDate: { type: string, description: ISO 8601 start date. }
        endDate: { type: string, description: ISO 8601 end date, within 31 days of start. }
        types:
          type: array
          items:
            type: string
            enum:
              - HARSH_BRAKING
              - AGGRESSIVE_ACCELERATION
              - SWERVING
              - HIGH_SPEED
              - HIGH_G_FORCE
              - STOP_SIGN_VIOLATION
              - TRAFFIC_LIGHT_VIOLATION
              - TAILGATING
        polygon:
          type: array
          items:
            type: array
            items: { type: number }
          description: Array of [lon, lat] coordinates, minimum 4 points.
        limit: { type: integer, maximum: 500 }
        offset: { type: integer }
      required: [startDate, endDate]
    AIEventSearchResult:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        events:
          type: array
          items: { $ref: '#/components/schemas/AIEvent' }
    AIEvent:
      type: object
      description: An AI-detected driving event.
      properties:
        id: { type: string }
        type: { type: string }
        timestamp: { type: string, format: date-time }
        location: { $ref: '#/components/schemas/Position' }
        metadata: { type: object, additionalProperties: true }
        videoUrl: { type: string, format: uri }
        gnssData:
          type: array
          items: { type: object, additionalProperties: true }
        imuData:
          type: array
          items: { type: object, additionalProperties: true }
    BurstCreate:
      type: object
      properties:
        geojson: { $ref: '#/components/schemas/GeoJSONGeometry' }
        trackedLocation: { type: string }
        expiration: { type: string }
        deviceType: { type: string, enum: [bee] }
      required: [geojson]
    BurstCreateResult:
      type: object
      properties:
        success: { type: boolean }
        bursts:
          type: array
          items: { $ref: '#/components/schemas/HoneyBurst' }
    BurstListResult:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        skip: { type: integer }
        bursts:
          type: array
          items: { $ref: '#/components/schemas/HoneyBurst' }
    HoneyBurst:
      type: object
      properties:
        _id: { type: string }
        geojson: { $ref: '#/components/schemas/GeoJSONGeometry' }
        amount: { type: number }
        status: { type: string }
        validFrom: { type: string, format: date-time }
        validUntil: { type: string, format: date-time }
        isHit: { type: boolean }
        latestHitAt: { type: string, format: date-time }
    HistoryEntry:
      type: object
      properties:
        area: { type: number, description: Queried area in square km. }
        payload: { type: object, additionalProperties: true, description: Query geometry. }
        timestamp: { type: string, format: date-time }
        weeks:
          type: array
          items: { type: string }
        credits: { type: number }
